<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>netem &middot; Network Emulation Console</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha256-L/W5Wfqfa0sdBNIKN9cG6QA5F2qx4qICmU2VgLruv9Y=" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha256-WqU1JavFxSAMcLP2WIOI+GB2zWmShMI82mTpLDcqFUg=" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-9">
          <h4 class="display-4">netem &middot; <span class="text-muted">Network Emulation Console</span></h4>
        </div>
        <div class="col-9">
          <p class="lead">
            netem uses the iproute2 library and the linux tc command to set traffic queueing settings via a GUI.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <h4>Interface Overview</h4>
        </div>
        <div class="col-6">
          <table class="table table-sm table-bordered table-hover">
            <thead class="thead-light">
              <tr>
                <th>Interface</th>
                <th>State</th>
                <th>Type</th>
                <th>MAC</th>
                <th>IP Address</th>
              </tr>
            </thead>
            <tbody>
            <% @interfaces.each do |intf| %>
              <tr class="intf-<%= intf["ifindex"] %>">
                <td><a href="#intf_settings_header_<%= intf["ifindex"] %>" data-toggle="collapse" data-target="#intf_settings_<%= intf["ifindex"] %>" aria-expanded="true" aria-controls="intf_settings_<%= intf["ifindex"] %>"><%= intf["ifname"] %></a></td>
                <td><%= intf["operstate"] %></td>
                <td><%= intf["link_type"] %></td>
                <td><pre><%= intf["address"] %></pre></td>
                <% ips = intf["addr_info"].collect { |x| (x["local"] || "0.0.0.0") + "/" + (x["prefixlen"].to_s || "0") } %>
                <td>
                  <pre><%= ips.join("<br/>") %></pre>
                </td>
              </tr>
            <% end %>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <h4>Interface Settings</h4>
        </div>
        <div class="col-6">
          <div class="accordion" id="interface_selector">
            <% @interfaces.each do |intf| %>
              <% tc_opt = @qdisc.filter { |x| x if x["dev"] == intf["ifname"]}[0] %>
              <% queue_opt = {} %>
              <% queue_opt = tc_opt["options"].class == String ? tc_opt["options"].sub(/^{/, "").sub(/}$/, "") : tc_opt["options"] %>
              <div class="card">
                <a href="#" id="intf_settings_header_<%= intf["ifindex"] %>" class="card-header d-flex justify-content-between align-items-center text-decoration-none" data-toggle="collapse" data-target="#intf_settings_<%= intf["ifindex"] %>" aria-expanded="true" aria-controls="intf_settings_<%= intf["ifindex"] %>">
                  <%= intf["ifname"] %>
                  <span>
                    <span class="badge badge-primary"><%= tc_opt["kind"] %></span>
                    <span class="badge badge-info"><%= intf["link_type"] %></span>
                    <span class="badge badge-secondary"><%= intf["operstate"] %></span>
                  </span>
                </a>
                <div id="intf_settings_<%= intf["ifindex"] %>" class="collapse card-body" aria-labelledby="intf_settings_header_<%= intf["ifindex"] %>" data-parent="#interface_selector">
                  <form class="form">
                    <table class="table table-bordered table-sm table-fluid">
                      <thead class="thead-light">
                        <tr>
                          <th style="width:150px;">Metric</th>
                          <th>Current</th>
                          <th style="width:400px;">New Value</th>
                        </tr>
                      </thead>
                      <tr>
                        <td>Rate</td>
                        <td></td>
                        <td>
                          <div class="form-row">
                            <div class="col">
                              <input class="form-control form-control-sm" type="text" name="rate" placeholder="Rate (mbps)">
                            </div>
                            <div class="col">
                              <input class="form-control form-control-sm" type="text" name="rate_burst" placeholder="Burst (mbps)">
                            </div>
                            <div class="col">
                              <input class="form-control form-control-sm" type="text" name="rate_latency" placeholder="Latency (ms)">
                            </div>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>Delay (ms)</td>
                        <td></td>
                        <td>
                          <div class="form-row">
                            <div class="col">
                              <input class="form-control form-control-sm" type="text" name="delay" placeholder="Delay (ms)">
                            </div>
                            <div class="col">
                              <select name="delay_dist" class="form-control form-control-sm">
                                <option selected>Distribution</option>
                                <option>Uniform</option>
                                <option>Normal</option>
                                <option>Pareto</option>
                                <option>Pareto Normal</option>
                              </select>
                            </div>
                            <div class="col">
                              <input class="form-control form-control-sm" type="text" name="delay_var" placeholder="Variation (ms)">
                            </div>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>Loss (%)</td>
                        <td></td>
                        <td><input class="form-control form-control-sm" type="text" name="loss" placeholder="Loss (%)"></td>
                      </tr>
                      <tr>
                        <td>Duplicate</td>
                        <td></td>
                        <td><input class="form-control form-control-sm" type="text" name="duplicate" placeholder="Duplicate (%)"></td>
                      </tr>
                      <tr>
                        <td>Reorder</td>
                        <td></td>
                        <td><input class="form-control form-control-sm" type="text" name="reorder" placeholder="Reorder (%)"></td>
                      </tr>
                      <tr>
                        <td>Corrupt</td>
                        <td></td>
                        <td><input class="form-control form-control-sm" type="text" name="corrupt" placeholder="Corrupt (%)"></td>
                      </tr>
                      <tr>
                        <td>queue options</td>
                        <td colspan="2">
                          <samp><%= queue_opt %></samp>
                        </td>
                      </tr>
                    </table>
                    <select name="interface_preset" class="form-control form-control-sm mr-2" style="width:200px;display:inline;">
                      <option selected>Network Profile...</option>
                      <option>3G/LTE</option>
                      <option>Satellite</option>
                      <option>T1 DSL</option>
                      <option>Bad WiFi</option>
                    </select>
                    <button type="button" name="submit_interface_<%= intf["ifindex"] %>" class="btn btn-sm btn-primary">Apply to interface</button>
                    <button type="button" name="reset_interface_<%= intf["ifindex"] %>" class="btn btn-sm btn-danger">Reset interface</button>
                  </form>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-3">
          <div class="card">
            <a class="card-header text-reset" data-toggle="collapse" href="#debug_info" role="button" aria-expanded="false" aria-controls="debug_info">Show Debug Info</a>
            <div id="debug_info" class="collapse card-body">
              <pre><%= JSON.pretty_generate @qdisc %></pre>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer" style="position: fixed; display: block; width: 100%; line-height: 25px; bottom: 0px; background: #354370; color: #ffffff; text-align: right; padding: 5px 20px; font-weight: 700;">
      netem v0.0.1a
      &nbsp;&nbsp;&middot;&nbsp;&nbsp;
      &copy; 2020
      &nbsp;&nbsp;&middot;&nbsp;&nbsp;
      <i class="fab fa-github"></i> <a href="https://github.com/abhid/netem" target="_blank" style="color: inherit;">abhid/netem</a>
      &nbsp;&nbsp;&middot;&nbsp;&nbsp;
      <i class="fas fa-code"></i> <a href="https://github.com/abhid/netem/graphs/contributors" target="_blank" style="color: inherit;">Contributors</a>
      &nbsp;&nbsp;&middot;&nbsp;&nbsp;
      <i class="fas fa-heart"></i> <a href="https://github.com/abhid/netem/issues/new" target="_blank" style="color: inherit;">Report a bug</a>
    </div>
  </body>
</html>
